@import url('vars.scss');

.emptyMessage {
  font-size: 20px;
  color: color($textColor alpha(60%))
}

.cartList {
  border-collapse: collapse;
  border: 1px solid color($mainBg blend(black 8%));
  width: 100%;

  thead {
    tr {
      th {
        text-align: left;
        padding: 10px 15px;
        background: color($mainBg blend(black 10%));
        font-weight: 600;
      }
    }
  }

  tbody {
    tr {
      cursor: pointer;

      td {
        padding: 10px;
        vertical-align: top;
        background: color($mainBg blend(white 50%));
        position: relative;
        border-bottom: 1px solid color($mainBg blend(black 8%));
      }
    }
  }

  .bookInfo {

    img {
      height: 60px;
      width: auto;
      display: inline-block;
      float: left;
      padding-right: 10px;
    }

    .removeWr {
      position: relative;
      height: 40px;
      .removeButton {
        display: block;
        height: 30px;
        width: 30px;
        background-size: cover;
        background-position: center;
        background-image: url('~assets/icons/delete.png');
        background-color: transparent;
        border: 1px solid color($mainBg blend(black 8%));
        border-radius: 4px;
        cursor: pointer;
        position: absolute;
        bottom: 5px;
        left: 65px;

        &:hover {
          background-color: color($mainBg blend(white 70%));
        }
      }
    }
  }

  .count {
    text-align: center;
    vertical-align: middle;
  }

  .totalPrice,
  .price {
    text-align: right;
    font-weight: bolder;
    vertical-align: middle;
  }

  .totalPrice {
    font-size: 18px;
  }
}

.formWr {
  margin-top: 40px;
  .purchaseForm {
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;

    .formField {
      width: 50%;
      position: relative;

      input {
        width: calc(100% - 80px);
        font-size: 14px;
        padding: 8px 15px;
        margin-bottom: 40px;
        border-radius: 2px;
        border: 1px solid color($mainBg blend(black 8%));
        outline: none;

        &:focus {
          border: 1px solid color($secondaryButton blend(white 40%))
        }

        &.inputError {
          border: 1px solid $error;
        }
      }

      label {
        display: block;
        min-width: 100px;
        margin-bottom: 5px;
      }

      .error {
        position: absolute;
        font-size: 13px;
        color: $error;

        &.top {
          top: 65px;
        }

        &.bottom {
          bottom: 15px;
        }
      }
    }

    .submitWr {
      width: 100%;

      button {
        padding: 15px 30px;
        margin-top: 20px;
        font-size: 16px;
        line-height: 20px;
        color: white;
        border-radius: 4px;
        border: none;
        background: $baseButton;
        transition: background-color 0.15s ease;
        cursor: pointer;

        &.disabled {
          opacity: .5;
          cursor: default;

          &:hover {
            background-color: $baseButton;
          }
        }

        &:hover {
          background-color: color($baseButton blend($textColor 10%));
        }
      }
    }
  }
}
