@import url('vars.scss');

.marketWrapper {
  padding: 40px 0;
}

.booksWrapper {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;

  .booksGrid {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: -15px;

    .bookItem {
      width: 25%;
      position: relative;

      @media (width <= 1400px) {
        width: 33.333%;
      }

      .bookItemWr {
        margin: 15px;
      }
    }
  }
}

.bookCard {
  background: white;
  padding: 15px;
  position: relative;

  img {
    height: 180px;
    width: auto;
  }

  > div {
    height: 40px;
    font-size: 15px;
    line-height: 20px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  button {
    padding: 10px 15px;
    background: transparent;
    border: 2px solid #d3d3d3;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover,
    &.cart {
      background: $secondaryButton;
      color: white;
    }

    &.cart {
      cursor: default;
    }
  }
}
